* {
  box-sizing: border-box;
}

body {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -.01em;
  -webkit-text-size-adjust: 100%;
  line-height:1.2em;
  margin: 20px 30px;
  background: yellow;
}

.container-wrap {
  margin: auto;
  left: 50%;
  width: 96.6639%;
  word-break: normal;
  /* display:inline-block; */
  -webkit-transform:scale(3,1);
}

a {
  /* text-decoration: none; */
  color: red;
  display:block;
}

p a:hover {
  color: yellow;
  /* text-decoration: none; */
}

a:hover {
  color: blue;
  display:inline-block;
  -webkit-transform:scale(3,1);
}

/* FONT STYLES
--------------------------------------- */
.nav p {
  background: none;
}

p {
  /* padding-bottom: 0px; */
  margin-bottom: 12px;
  color: red;
  background: blue;
}

p2 {
  padding-left: 10%;
}

::selection {
  background: red;/* WebKit/Blink Browsers */
}

/* NAVIGATION
--------------------------------------- */
.nav-wrap {
  width: 100vw;
  height: 100vh;
}

.nav {
  width: 80%;
  /* padding-left: 35px; */
  left: 50%;

  /* flex: 0 0 87%; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-wrap; */
}

.title {
  position: relative;
  display: inline;
}
