* {
  box-sizing: border-box;
}

body {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2em;
  margin: 20px 30px;
}

.button {
  letter-spacing: -.01em;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  background: rgb(198, 183, 242);
}

.menu {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: -200px;
  width: 200px;
  background: rgb(227, 161, 50);
  transition: transform .3s ease;
}

.style {
  transform: translate(-200px);
}

.marquee {
  color: red;
  letter-spacing: -.05em;
  font-size: 500px;
  /* width: 100vw; /* the plugin works for responsive layouts so width is not necessary */ */
  /* overflow: hidden; */
  /* border:1px solid #ccc; */
  border-bottom: 3px solid red;
}
