* {
  box-sizing: border-box;
}

/* Sections
   ========================================================================== */
body {
  margin: 0;
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  letter-spacing: -.01em;
  -webkit-text-size-adjust: 100%;
  line-height: 1.2em;
  background: yellow;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* Hidden
   ========================================================================== */
[hidden] {
  display: none;
}

.one, .two, .three, .treeone, .treetwo, .treethree {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transform-origin: center;
  -webkit-transform-origin: center;
  -webkit-transition: 0s ease-in-out;
  -moz-transition: 0s ease-in-out;
  -o-transition: 0s ease-in-out;
  cursor: pointer;
}

.one {
  transform: scale(1);
  opacity: 1;
}

.two {
  transform: scale(0.125);
  opacity: 1;
}

.three {
  transform: scale(0.015625);
  opacity: 0;
}

.treeone {
  transform: scale(1);
  pointer-events: none;
  opacity: 1;
}

.treetwo {
  transform: scale(0.125);
  pointer-events: none;
  opacity: 1;
}

.treethree {
  transform: scale(0.015625);
  pointer-events: none;
  opacity: 0;
}

.zoomone, .zoomtwo, .zoomthree {
  -webkit-transition: 5s ease-in-out;
  -moz-transition: 5s ease-in-out;
  -o-transition: 5s ease-in-out;
}

.zoomone {
  transform: scale(8);
  opacity: 0;
  pointer-events: none;
}

.zoomtwo {
  transform: scale(1);
}

.zoomthree {
  transform: scale(0.125);
  opacity: 1;
}

#story-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#story {
  z-index: 9999999;
  width: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 18px;
}

#story p {
  margin: 0 auto;
}
